@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-slate-200;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
  }
}

@layer components {
  .fade-in-section {
    @apply opacity-0 translate-y-10 transition-all duration-1000 ease-out;
  }

  .fade-in-section.is-visible {
    @apply opacity-100 translate-y-0;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 10s infinite;
  /* Slower for Aurora feel */
}